@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars for horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: var(--font-inter);
  background-color: #f7f5ef;
}
